/workspace.xml
libraries/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Editor-based HTTP Client requests
/httpRequests/
http-requests-log.http

# SonarLint
sonarlint*
